pkgbase = apexdesk-bin
	pkgdesc = Free office suite: documents, spreadsheets, presentations, PDF, databases and notebooks
	pkgver = 0.8.0
	pkgrel = 1
	url = https://apexdesk.github.io/
	arch = x86_64
	license = LicenseRef-ApexDesk
	depends = glibc
	depends = gcc-libs
	depends = alsa-lib
	depends = dbus
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxrender
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = wayland
	depends = libglvnd
	depends = curl
	depends = hicolor-icon-theme
	optdepends = gst-plugins-base: video and sound in presentations
	optdepends = gst-plugins-good: video and sound in presentations
	optdepends = hunspell-en_us: spelling (or any other hunspell dictionary)
	optdepends = xdg-utils: opening links and files with other programs
	provides = apexdesk
	conflicts = apexdesk
	options = !strip
	options = !debug
	source = https://github.com/apexdesk/apexdesk/releases/download/v0.8.0/apexdesk-0.8.0-linux-x86_64-portable.tar.gz
	source = apexdesk.desktop
	source = apexdesk-mime.xml
	source = apexdesk.svg
	sha256sums = bb89b291d0243d3893a105d4830b08be33f3660ac105dfa8a8d8dd98f34e1c99
	sha256sums = ee00aedeff5e26bde6f0bf7d18ad28f7e001e493ba1a05804a816526b461dcdf
	sha256sums = 0f5f53b985ccced98108aeeb978f29779f7141bda5a4de58e12b46a9b85d5d11
	sha256sums = 68d0cbf0878537b3dc66c5c7e515182554e01b593bfd0ad0c2fbae74df84ad9e

pkgname = apexdesk-bin
